#navigation {
	padding: 0px; 
	margin: 0px;
	text-align: center; /* centrer le texte */
	width: 1020px;
	height: 60px;
	background: black;
	
}
 li {
	display: inline;
	list-style: none;
	margin: 10px;
	padding: 0px;
	width: 100px;
	height: 40px;
	text-align:center;
	line-height: 40px;
}
 a {
	display:inline-block;
	margin: 0px;
	text-decoration: none;
	color: white;
}
 ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;

}

header{
	background-color:black ;
	height:300px;
	width:1020px;
	margin: auto;

}
h1{
	background-color: black;
	color:#cfa205;
	font-size:133px;
	padding: 00px;
	border: 0px;
	margin: 0px;
    font-family: Josefin Sans, Arial;
	width:1020px;
}

h2 {
	background-color:black;
	color:#cfa205;
	font-size:18px;
	padding: 30px;
	border: 0px;
	margin: 0px;
	font-family: Bitter, Arial;
	width:960px;
}

.social {
	width:1020px;
	height: 60px;
	background:#e8e8e8;
	padding: 0px;
	border: 0px;
	margin: 0px;
}

.social img {
	display: inline-block;
    margin-top: 17px;
	margin-left: 5px;
	list-style: none;
}

html {
	background: url("bg.jpg") no-repeat; 
	background-size: cover;
	
}

body
{
	height: 1010px;
	width: 1020px;
	background-color: #fff;
	margin: auto;
	
}

main
{
	height: 630 px;
	width: 1020px;
		
}

p        /*Texte en haut et en dessous des image*/   
{
		color:#7a7a7a;
}

hr{
	width: 86%;
	border: 1px #e8e8e8 inset;
	color: white;
}

.main1
{
	text-align: center;
	font-size: 20px;
	height:90px;
	width: 900px;
	margin-top: 100px;
	margin-left: 60px;
	font-weight: bold;
}

h3 /*Titre des collone*/
{
	font-size: 18px;
}

div > p /*Texte en dessous image*/
{
	font-size: 14px;
}

.i1
{
	height: 195px;
	width: 260px;
	margin-left: 6px;
	
}

.collone1
{
	height: 480px;
	width: 260px;
	margin-left: 60px;
	float: left;
}

.i2
{
	
	height:195px;
	width: 260px;
	margin-left: 6px;
	
}

.collone2
{
	
	height: 480px;
	width: 260px;
	margin-left: 60px;
	
}

.i3
{
	height: 195px;
	width: 260px;
	margin-left: 6px;
	
}

.collone3
{
	height: 480px;
	width: 260px;
	margin-left: 60px;
	
	
}
div{
	display: inline-block;
	margin-top: 45px;
}


